<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Création d'horaire</title>
    </head>
    <body>
        <h1>Créer un nouvel horaire</h1>
        {{ form(createForm) }}
    </body>
</html>