<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Modification d\'horaire</title>
    </head>
    <body>
    <h1>Modifier l\'horaire</h1>
        {{ form(editForm) }}
    </body>
</html>